.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond', serif;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
}

.form{
  margin: auto;
  height: 50%;
  width: 70%;
  border: 1px solid #033076;
  padding: 10px;
}

h3, h2, h1{
  font-family: 'Cormorant Garamond', serif;
}